{% extends 'base.html' %}

<!--  -->
{% block title %}
    My Tasks
{% endblock title %}
<!--  -->
{% block content %}
    <main>
        <div>
            <h1>My Tasks</h1>
            {% if tasks.exists %}
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Start date</th>
                            <th>Due Date</th>
                            <th>Is completed</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for items in tasks %}
                            <tr>
                                <td>{{ items.name }}</td>
                                <td>{{ items.start_date }}</td>
                                <td>{{ items.due_date }}</td>
                                <td>{{ items.is_completed|yesno }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>You have no tasks</p>
            {% endif %}
        </div>
    </main>
{% endblock content %}
